html, body {
  background: linear-gradient(to bottom right, #92ba8f, #eaeaea);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0; }

.section {
  height: auto; }

.heading {
  font-family: "Questrial", sans-serif;
  font-size: 20px;
  color: #231f20; }

.content {
  font-family: "Questrial", sans-serif;
  font-size: 14px;
  color: #231f20; }

.nav-styling, .nav-buttons {
  background-color: #231f20;
  font-family: "Questrial", sans-serif;
  font-size: 14px; }

.nav-styling a, .nav-buttons a {
  color: #eaeaea; }

.nav-buttons {
  color: #eaeaea;
  border: none;
  cursor: pointer; }

.nav-buttons:hover {
  color: #f28500;
  text-decoration: none;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.nav-buttons:focus {
  outline: 0; }

.icons {
  font-size: 24px; }

.accordian-styling a {
  color: #231f20; }

.attorney {
  font-family: "Questrial", sans-serif;
  font-size: 16px; }

.invalid-info, .invalid-name, .invalid-email, .invalid-number, .invalid-message {
  display: none;
  margin-top: .25rem;
  font-size: .7rem;
  color: #dc3545; }

.default-border {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.15); }

.valid-border {
  display: block;
  border: 1px solid #28a745; }

.invalid-border {
  display: block;
  border: 1px solid #dc3545; }

.disclaimer {
  font-family: "Questrial", sans-serif;
  font-size: 10px; }

.mobile-pa-button {
  border: 1px solid #231f20;
  background-color: rgba(234, 234, 234, 0.25);
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  width: 100%;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.mobile-pa-button:hover {
  background-color: #eaeaea;
  color: #231f20;
  border-radius: 0px 10px 0px 10px; }

.mobile-pa-button:focus {
  outline: 0; }

.mobile-pa-button-active {
  background-color: #eaeaea;
  color: #231f20;
  border-radius: 0px 10px 0px 10px; }

.content a {
  color: #f28500;
  text-decoration: none;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.content a:hover {
  color: #eaeaea; }

.pa-button, .open-resources-button {
  border: 1px solid #231f20;
  background-color: rgba(234, 234, 234, 0.25);
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.pa-button:hover, .open-resources-button:hover {
  background-color: #eaeaea;
  color: #231f20;
  border-radius: 0px 10px 0px 10px; }

.pa-button:focus, .open-resources-button:focus {
  outline: 0; }

.pa-button-active {
  background-color: #eaeaea;
  color: #231f20;
  border-radius: 0px 10px 0px 10px; }

.pa-1, .si-1, .si-2, .si-3, .si-4, .si-5, .si-6, .si-7, .si-8, .si-9, .si-10, .si-11, .si-12, .si-13, .si-14, .si-15, .si-16, .si-17, .si-18, .si-19, .pa-2, .pa-3, .pa-4, .pa-5, .pa-6, .pa-7, .pa-8, .pa-9, .pa-10, .pa-11, .pa-12, .pa-13, .pa-14, .pa-15, .pa-16, .pa-17, .pa-18, .pa-19 {
  color: #231f20; }

.subprac-info {
  background-color: #eaeaea;
  color: #231f20;
  border: 1px solid #231f20; }

.si-1, .si-2, .si-3, .si-4, .si-5, .si-6, .si-7, .si-8, .si-9, .si-10, .si-11, .si-12, .si-13, .si-14, .si-15, .si-16, .si-17, .si-18, .si-19 {
  display: none;
  text-align: justify; }

.si-5 {
  display: block; }

.contact-submit-button, .contact-modal-button, .resource-modal-button {
  background-color: transparent;
  color: #231f20;
  border: 1px solid #231f20;
  border-radius: .25rem;
  padding: 0.3rem 0.75rem;
  font-size: 0.75rem;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.contact-submit-button:hover, .contact-modal-button:hover, .resource-modal-button:hover {
  background-color: #28a745;
  color: #eaeaea;
  border-color: #28a745; }

.contact-submit-button:focus, .contact-modal-button:focus, .resource-modal-button:focus {
  outline: 0; }

.contact-modal-button:hover {
  background-color: #231f20;
  color: #eaeaea;
  border-color: #231f20; }

.contact-modal-button:focus {
  outline: 0; }

.open-resources-button:hover {
  background-color: #eaeaea;
  color: #231f20;
  border-radius: 0px 10px 0px 10px; }

.open-resources-button:focus {
  outline: 0; }

.resource-modal-button:hover {
  background-color: #231f20;
  color: #eaeaea;
  border-color: #231f20; }

.resource-modal-button:focus {
  outline: 0; }

.disclaimer-button {
  border: 1px solid #231f20;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.disclaimer-button:hover {
  background-color: #eaeaea;
  color: #231f20;
  border-radius: 0px 10px 0px 10px; }

.disclaimer-button:focus {
  outline: 0; }

.disclaimer-button-active {
  background-color: #eaeaea;
  color: #231f20;
  border-radius: 0px 10px 0px 10px; }

.nav-link {
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.nav-link:hover {
  color: #f28500; }

.navbar-toggler {
  padding: 0.25rem;
  font-size: 1rem;
  line-height: 1;
  background: 0 0;
  border: none;
  border-radius: 0;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem; }

.navbar-toggler-icon {
  color: #eaeaea;
  height: 1.0em;
  margin-right: 1rem; }

.form-control {
  font-size: 0.6rem; }

.btn {
  padding: 0.3rem 0.75rem;
  font-size: 0.75rem;
  cursor: pointer; }

.btn-outline-success {
  color: #92ba8f;
  border-color: #92ba8f; }

.table td {
  border: none; }

.card-header {
  padding: 0.5rem;
  font-family: "Questrial", sans-serif;
  font-size: 14px; }

.card-body {
  padding: 0.5rem;
  font-family: "Questrial", sans-serif;
  font-size: 14px; }

.invalid-feedback {
  font-size: 10px; }

span.highlight {
  background: #f1c40f; }

/*# sourceMappingURL=style.css.map */
