/*#ff033a*/
.underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden; }

.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fff8dc;
  height: 1px;
  -webkit-transition-property: left, right;
  -o-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }

.underline:hover:before, .underline:focus:before, .underline:active:before {
  left: 0;
  right: 0; }

.fa-rs {
  position: relative;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 88px;
  left: 5.5rem; }

.hobbies {
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 32px;
  font-size: 2rem;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 32px;
  padding-left: 2rem;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 2rem;
  cursor: pointer; }

.hobbies:hover {
  color: #03b8ff; }

.hobbies-desc {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  opacity: 0; }

.home-icons {
  -webkit-transform: rotateZ(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotateZ(-360deg);
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 1rem;
  color: #ff033a;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms; }

.home-icons2 {
  -webkit-transform: rotateZ(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotateZ(-360deg);
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 1rem;
  color: #ff033a;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms; }

.home-icons3 {
  -webkit-transform: translate(-1rem, 0rem) rotateZ(-360deg);
      -ms-transform: translate(-1rem, 0rem) rotate(-360deg);
          transform: translate(-1rem, 0rem) rotateZ(-360deg);
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 1rem;
  color: #ff033a;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms; }

.home-icons4 {
  -webkit-transform: translate(-0.5rem, 0rem) rotateZ(-360deg);
      -ms-transform: translate(-0.5rem, 0rem) rotate(-360deg);
          transform: translate(-0.5rem, 0rem) rotateZ(-360deg);
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 1rem;
  color: #ff033a;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms; }

.home-icons5 {
  -webkit-transform: rotateZ(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotateZ(-360deg);
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 1rem;
  color: #ff033a;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms; }

.home-icons6 {
  -webkit-transform: rotateZ(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotateZ(-360deg);
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 16px;
  padding: 1rem;
  color: #ff033a;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms; }

.home-text {
  -webkit-transform: translate(-2.2rem, 3.5rem);
      -ms-transform: translate(-2.2rem, 3.5rem);
          transform: translate(-2.2rem, 3.5rem);
  color: #fff8dc;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  opacity: 1; }

.home-text2 {
  -webkit-transform: translate(-2.2rem, 3.5rem);
      -ms-transform: translate(-2.2rem, 3.5rem);
          transform: translate(-2.2rem, 3.5rem);
  color: #fff8dc;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  opacity: 1; }

.home-text3 {
  -webkit-transform: translate(-1.99rem, 3.5rem);
      -ms-transform: translate(-1.99rem, 3.5rem);
          transform: translate(-1.99rem, 3.5rem);
  color: #fff8dc;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  opacity: 1; }

.home-text4 {
  -webkit-transform: translate(-2.65rem, 3.5rem);
      -ms-transform: translate(-2.65rem, 3.5rem);
          transform: translate(-2.65rem, 3.5rem);
  color: #fff8dc;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  opacity: 1; }

.home-text5 {
  -webkit-transform: translate(-2.9rem, 3.5rem);
      -ms-transform: translate(-2.9rem, 3.5rem);
          transform: translate(-2.9rem, 3.5rem);
  color: #fff8dc;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  opacity: 1; }

.home-text6 {
  -webkit-transform: translate(-3.9rem, 3.5rem);
      -ms-transform: translate(-3.9rem, 3.5rem);
          transform: translate(-3.9rem, 3.5rem);
  color: #fff8dc;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  opacity: 1; }

.hobby-box {
  border-top: 1px solid #03b8ff;
  border-bottom: 1px solid #03b8ff;
  height: auto;
  width: 800px;
  background-color: transparent; }

.hobby-information {
  display: none;
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms; }

.hobbyhide {
  color: #ff033a;
  opacity: 0.25;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms; }

.hobbyshow {
  color: #03b8ff;
  opacity: 1;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms; }

html, body {
  background: #141516;
  margin: 0;
  padding: 0; }

hr {
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 160px;
  width: 10rem;
  background: transparent;
  border-bottom: 1px solid #fff8dc; }

.nav-logo {
  max-width: 50%;
  height: auto; }

.nav-style {
  background-color: #03b8ff; }

.nav-style a {
  color: #fff8dc;
  text-decoration: none; }

.nav-btn {
  background-color: transparent;
  color: #fff8dc;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }

.nav-btn:focus {
  outline: 0; }

.banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(255, 255, 255, 0.1))), url("../imgs/forest.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1)), url("../imgs/forest.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1)), url("../imgs/forest.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1)), url("../imgs/forest.jpg");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.section {
  height: auto; }

.header {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  color: #ff033a; }

.subheader {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #ff033a; }

.content {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff8dc; }

.default-btn {
  background: transparent;
  border: none;
  color: #fff8dc;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear; }

.default-btn:hover {
  color: #ff033a; }

.default-btn:focus {
  outline: 0; }

.intro {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: #fff8dc; }

.subintro {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #fff8dc; }

.icons, .contact-icons {
  color: #ff033a;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 2.5rem; }

.project-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer; }

.project-btn:focus {
  outline: 0; }

.project-bg {
  height: auto;
  background-color: transparent;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 0.75rem;
  opacity: 0.65;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }

.project-bg:hover {
  opacity: 1; }

.project-name {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #fff8dc;
  border-top: 1px solid #03b8ff;
  border-bottom: 1px solid #03b8ff;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 4px;
  padding: 0.25rem; }

.contact-icons {
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }

.contact-icons:hover {
  color: #03b8ff; }

.default-border {
  display: block;
  border: 1px solid #03b8ff; }

.valid-border {
  display: block;
  border: 1px solid #03b8ff; }

.invalid-info, .invalid-name, .invalid-email, .invalid-number, .invalid-message {
  display: none;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: .25rem;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: 11.2px;
  font-size: .7rem;
  color: #ff033a; }

.invalid-border {
  display: block;
  border: 1px solid #ff033a; }

.contact-submit-button {
  border: none;
  background-color: #03b8ff;
  color: #fff8dc;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }

.contact-submit-button:hover {
  background-color: #fff8dc;
  color: #03b8ff; }

.modal-close-button {
  border: none;
  background-color: #fff8dc;
  color: #03b8ff;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }

.modal-close-button:hover {
  background-color: #03b8ff;
  color: #fff8dc; }

.copyright {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: #fff8dc; }

.mobile-home-icons {
  font-size: 40px;
  color: #ff033a; }

.mobile-home-content {
  font-size: 16px;
  color: #fff8dc; }

.navbar-toggler {
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 12px;
  padding: 0.75rem;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  background: 0 0;
  border: none;
  border-radius: 0;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 1.6px;
  margin-top: 0.1rem;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 1.6px;
  margin-bottom: 0.1rem; }

.navbar-toggler-icon {
  color: #141516;
  height: 1.0em;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 1rem; }

.img-fluid {
  opacity: 0.45;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }

.img-fluid:hover {
  opacity: 1; }

.form-control {
  background-color: #fff8dc;
  color: #141516; }

.modal-content {
  background-color: #03b8ff; }

.close {
  color: #fff8dc;
  text-shadow: none;
  opacity: 1;
  cursor: pointer; }
/*# sourceMappingURL=style.css.map */