// Partial for site fonts

$nav-font: 'Roboto Slab', serif;
$nav-font-size: 14px;

$content-font: 'Roboto', sans-serif;
$content-font-size: 12px;

$header-font: 'Roboto Slab', serif;
$header-font-size: 18px;