// Partial for site fonts

$nav-font: 'Roboto', sans-serif;
$nav-font-size: 18px;
$nav-font-weight: 400;

$intro-font: 'Roboto', sans-serif;
$intro-font-size: 50px;

$subintro-font:  'Roboto', sans-serif;
$subintro-font-size: 30px;

$header-font: 'Roboto Slab', serif;
$header-font-size: 30px;

$subheader-font: 'Roboto Slab', serif;
$subheader-font-size: 20px;

$content-font: 'Roboto', sans-serif;
$content-font-size: 16px;
