// Mixin used to underline the links in the navigation bar

@mixin underline {

    .underline {
        display: inline-block;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        overflow: hidden;
    }
    .underline:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: $white;
        height: 1px;
        transition-property: left, right;
        transition-duration: 250ms;
        transition-timing-function: ease-out;
    }
    .underline:hover:before, .underline:focus:before, .underline:active:before {
        left: 0;
        right: 0;
    }

}

// Mixin used to animate the home section on devices >= 1200px

@mixin home {

    .fa {
        position: relative;
        left: 5.5rem;
    }

    .hobbies {
        font-size: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        cursor: pointer;
    }

    .hobbies:hover {
        color: $blue;
    }

    .hobbies-desc {
        font-family: $content-font;
        font-size: $content-font-size;
        opacity: 0;
    }

    .home-icons {
        transform: translate(14.7rem, 3rem) rotateZ(-360deg);
        padding: 1rem;
        color: $red;
        transition-duration: $home-time;
   
    }

    .home-icons2 {
        transform: translate(8.5rem, 6rem) rotateZ(-360deg);
        padding: 1rem; 
        color: $yellow;
        transition-duration: $home-time;
    }

    .home-icons3 {
        transform: translate(0.9rem, 9rem) rotateZ(-360deg);
        padding: 1rem; 
        color: $red;
        transition-duration: $home-time;
    }

    .home-icons4 {
        transform: translate(-5rem, 12rem) rotateZ(-360deg);
        padding: 1rem; 
        color: $yellow;
        transition-duration: $home-time;
    }

    .home-icons5 {
        transform: translate(-11.5rem, 15rem) rotateZ(-360deg);
        padding: 1rem; 
        color: $red;
        transition-duration: $home-time;
    }

    .home-icons6 {
        transform: translate(-19.2rem, 18rem) rotateZ(-360deg);
        padding: 1rem; 
        color: $yellow;
        transition-duration: $home-time;
    }

    .home-text {
        transform: translate(4rem, 0rem);
        color: $red;
        transition-duration: $home-time;
        opacity: 1;
    }

    .home-text2 {
        transform: translate(4.27rem, 0rem);
        color: $yellow;
        transition-duration: $home-time;
        opacity: 1;
    }

    .home-text3 {
        transform: translate(4.32rem, 0rem);
        color: $red;
        transition-duration: $home-time;
        opacity: 1;
    }

    .home-text4 {
        transform: translate(3.96rem, 0rem);
        color: $yellow;
        transition-duration: $home-time;
        opacity: 1;
    }

    .home-text5 {
        transform: translate(4.44rem, 0rem);
        color: $red;
        transition-duration: $home-time;
        opacity: 1;
    }

    .home-text6 {
        transform: translate(3.8rem, 0rem);
        color: $yellow;
        transition-duration: $home-time;
        opacity: 1;
    }

}