// ##### IMPORT PARTIALS START #####

@import 'colors';
@import 'fonts';
@import 'mixins';

// ##### IMPORT PARTIALS END #####

// ##### VARIABLES START #####

    // Site wide variables start
    
    $slide-time: 1000ms;
    $hover-time: 250ms;

    // Site wide variables end

    // Mobile variables start

    // Mobile variables end

    // Desktop variables start

    // Desktop variables end


// ##### VARIABLES END #####

// ##### MIXINS START #####

    // Site wide mixins start

    @include underline; // Include mixin for underline animation for nav bar
    @include home; // Include mixin for home animation

    // Site wide mixins end

    // Mobile mixins start

    // Mobile mixins end

    // Desktop mixins start

    // Desktop mixins end

// ##### MIXINS END #####

// #####  IDS AND CLASSES START #####

    // Sitewide

    html, body {
        background: $black;
        margin: 0;
        padding: 0;
    }

    .nav-logo {
        max-width: 50%;
        height: auto;
    }

    .nav-style {
        background-color: $blue;
        color: $yellow;
    }

    .nav-style a {
        color: $white;
        text-decoration: none;
    }

    .nav-btn {
        background-color: transparent;
        color: $white;
        border: none;
        font-family: $nav-font;
        font-size: $nav-font-size;
        font-weight: $nav-font-weight;
    }

    .nav-btn:focus {
        outline: 0;
    }

    .section {
        height: auto;
    }

    .content {
        font-family: $content-font;
        font-size: $content-font-size;
        color: $white;
    }

    .header {
        font-family: $header-font;
        font-size: $header-font-size;
        color: $white;
    }

    .default-btn {
        background: transparent;
        border: none;
        color: $white;
    }

    .default-btn:hover {
        transition-duration: $hover-time;
        color: $red;
    }

    .intro {
        font-family: $intro-font;
        font-size: $intro-font-size;
        color: $white;
    }

    .subintro {
        font-family: $subintro-font;
        font-size: $subintro-font-size;
        color: $white;
    }
    
    // Mobile only
    
    // Desktop only

    // Bootstrap modifications

// #####  IDS AND CLASSES END #####
