// ##### IMPORT PARTIALS START #####

@import 'colors';
@import 'fonts';
@import 'mixins';

// ##### IMPORT PARTIALS END #####

// ##### VARIABLES START #####

    // Site wide variables start
    
    $home-time: 200ms;
    $hover-time: 250ms;

    // Site wide variables end

    // Mobile variables start

    $mobile-icon-size: 40px;

    // Mobile variables end

    // Desktop variables start

    // Desktop variables end


// ##### VARIABLES END #####

// ##### MIXINS START #####

    // Site wide mixins start

    @include underline; // Include mixin for underline animation for nav bar
    @include home; // Include mixin for home animation

    // Site wide mixins end

    // Mobile mixins start

    // Mobile mixins end

    // Desktop mixins start

    // Desktop mixins end

// ##### MIXINS END #####

// #####  IDS AND CLASSES START #####

    // Sitewide

    html, body {
        background: $black;
        margin: 0;
        padding: 0;
    }

    .nav-logo {
        max-width: 50%;
        height: auto;
    }

    .nav-style {
        background-color: $blue;
    }

    .nav-style a {
        color: $white;
        text-decoration: none;
    }

    .nav-btn {
        background-color: transparent;
        color: $white;
        border: none;
        font-family: $nav-font;
        font-size: $nav-font-size;
        font-weight: $nav-font-weight;
        transition-duration: $hover-time;
        transition-timing-function: ease-in-out;
    }

    .nav-btn:hover {
        color: $yellow;
    }

    .nav-btn:focus {
        outline: 0;
    }

    .banner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1)), url('../imgs/forest.jpeg');
        min-height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section {
        height: auto;
    }

    .content {
        font-family: $content-font;
        font-size: $content-font-size;
        color: $white;
    }

    .header {
        font-family: $header-font;
        font-size: $header-font-size;
        color: $white;
    }

    .default-btn {
        background: transparent;
        border: none;
        color: $white;
        cursor: pointer;
        transition-duration: $hover-time;
        transition-timing-function: linear;
    }

    .default-btn:hover {
        color: $red;
    }

    .default-btn:focus {
        outline: 0;
    }

    .intro {
        font-family: $intro-font;
        font-size: $intro-font-size;
        color: $white;
    }

    .subintro {
        font-family: $subintro-font;
        font-size: $subintro-font-size;
        color: $white;
    }
    
    // Mobile only

    .mobile-icon1 {
        font-size: $mobile-icon-size;
        color: $red;
    }

    .mobile-home-content1 {
        font-size: $content-font-size;
        color: $red;
    }

    .mobile-icon2 {
        font-size: $mobile-icon-size;
        color: $white;
    }

    .mobile-home-content2 {
        font-size: $content-font-size;
        color: $white;
    }
    
    // Desktop only

    // Bootstrap modifications

    .navbar-toggler {
        padding: 0.75rem;
        font-size: 1rem;
        line-height: 1;
        background: 0 0;
        border: none;
        border-radius: 0;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }

    .navbar-toggler-icon {
        color: $black;
        height: 1.0em;
        margin-right: 1rem;
    }

// #####  IDS AND CLASSES END #####
